In [47]:
import pandas as pd
import numpy as np

To do's



*   Salary pasring

*   Company name text only

*   State field
*   Age of company


*   Parsing of job description (python, r)

In [48]:
df = pd.read_csv('/content/drive/MyDrive/salary_project_ds.csv')

In [49]:
df = df[df['Salary Estimate'] != '-1']

In [50]:
df

     Unnamed: 0  Unnamed: 0.1  ...                    Revenue Competitors
0             0             0  ...     $1 to $2 billion (USD)          -1
1             1             1  ...    $5 to $10 million (USD)          -1
2             2             2  ...  $50 to $100 million (USD)          -1
3             3             3  ...     $1 to $2 billion (USD)          -1
4             4             4  ...   Unknown / Non-Applicable          -1
..          ...           ...  ...                        ...         ...
575          25            25  ...   Unknown / Non-Applicable          -1
576          26            26  ...                         -1          -1
577          27            27  ...   $25 to $50 million (USD)          -1
578          28            28  ...   $25 to $50 million (USD)          -1
579          29            29  ...     $2 to $5 billion (USD)          -1

[430 rows x 16 columns]

Salary parsing

In [51]:
salary = df['Salary Estimate'].apply(lambda x: x.split('(')[0])

In [52]:
salary

0      $37K - $68K
1      $37K - $68K
2      $37K - $68K
3      $37K - $68K
4      $37K - $68K
           ...
575    $42K - $74K
576    $42K - $74K
577    $42K - $74K
578    $42K - $74K
579    $42K - $74K
Name: Salary Estimate, Length: 430, dtype: object

In [53]:
minus_Kd = salary.apply(lambda x: x.replace('K','').replace('$',''))

In [54]:
minus_Kd

0      37 - 68
1      37 - 68
2      37 - 68
3      37 - 68
4      37 - 68
         ...
575    42 - 74
576    42 - 74
577    42 - 74
578    42 - 74
579    42 - 74
Name: Salary Estimate, Length: 430, dtype: object

In [55]:
df['hourly'] = df['Salary Estimate'].apply(lambda x: 1 if 'per hour' in x.lower() else 0)
df['employer_provided'] = df['Salary Estimate'].apply(lambda x: 1 if 'employer prodided salary' in x.lower() else 0)

In [56]:
min_hr = minus_Kd.apply(lambda x: x.lower().replace('per hour','').replace('employer provided salary',''))
# Removes the Per Hour, and Employer Provided Salary from the text

In [57]:
df['min_salary'] = min_hr.apply(lambda x: x.split('-')[0]).astype('int')
df['max_salary'] = min_hr.apply(lambda x: x.split('-')[1]).astype('int')

In [58]:
df['avg_salary'] = (df['max_salary']+df['min_salary'])/2

Company text only

In [59]:
df['company_txt'] = df.apply(lambda x: x['Company Name'] if x['Rating'] < 0 else x['Company Name'][:-3],axis=1)
df['company_txt'] = df['company_txt'].apply(lambda x: x.replace('\n',''))

State field

In [60]:
df['job_state'] = df['Location'].apply(lambda x: x[-2:])

Age of company

In [61]:
df['age'] = df['Founded'].apply(lambda x: x if x < 0 else 2021 - x)

**Parsing of job description**

Python

In [62]:
df['python_yn'] = df['Job Description'].apply(lambda x: 1 if 'python' in x.lower() else 0)

R Studio

In [63]:
df['r_yn'] = df['Job Description'].apply(lambda x: 1 if 'r studio' in x.lower() or 'r-studio' in x.lower() else 0)

Apache Spark

In [64]:
df['spark_yn'] = df['Job Description'].apply(lambda x: 1 if 'spark' in x.lower() else 0)

AWS

In [65]:
df['aws_yn'] = df['Job Description'].apply(lambda x: 1 if 'aws' in x.lower() else 0)

Excel

In [66]:
df['excel_yn'] = df['Job Description'].apply(lambda x: 1 if 'excel' in x.lower() else 0)

In [67]:
df = df.drop('Unnamed: 0',axis=1)

In [68]:
df = df.drop('Unnamed: 0.1',axis=1)

In [69]:
df = df.drop('Headquarters',axis=1)

In [70]:
df = df.drop('Competitors',axis=1)

In [71]:
df = df.drop('Company Name',axis=1)

In [72]:
df

                            Job Title  ... excel_yn
0     Business Analyst - Data Science  ...        1
1    Software Engineer - Data Science  ...        1
2                        Data Analyst  ...        0
3        CLINICAL DATABASE MANAGER II  ...        0
4          Corporate Planning Analyst  ...        0
..                                ...  ...      ...
575             Senior Data Scientist  ...        0
576         Machine Learning Engineer  ...        0
577                    Data Scientist  ...        0
578      Call Center Business Analyst  ...        1
579                    Data Scientist  ...        0

[430 rows x 24 columns]

In [73]:
df.to_csv('salary_data_cleaned.csv')